.generalSecciones{
    
    padding-left: 3rem;

    .generalSecciones__titulos {
    
        color:slategrey!important;
        font-size: 3rem!important;
        font-family: 'Bebas Neue', cursive!important;
        
        }

    .generalSecciones__tarjeta{

       

    .generalSecciones__tarjetaUno {
        display:block!important;  

    }    
    .generalSecciones__tarjetaDos {
        display:none!important;  

    }    
    
            } 

            .generalSecciones__tarjeta:hover{
                
                .generalSecciones__tarjetaUno {
                    display:none!important;  
            
                }    
                .generalSecciones__tarjetaDos {
                    display:block!important;
                      
            
                }    


            }        

    }


    
    
    footer{
    
    padding: 1rem;
    
    }



    /* MEDIA QUERIES */

    @media (max-width:768px) {

        
        .generalSecciones{

            .generalSecciones__titulos  {
            
            color:slategrey!important;
            font-size: 1.5rem!important;
            font-family: 'Bebas Neue', cursive!important;
            
            }



    }   
    
}